/* Color Verde Institucional (Territorio y Parques) */
.module-card--green {
  border-top-color: #18843b;
}
.module-card--green .module-icon {
  background: #e8f5ed;
  color: #18843b;
}
.module-card--green:hover .module-arrow {
  color: #18843b;
}

/* Color Azul Institucional (Gestión y Trámites) */
.module-card--blue {
  border-top-color: #315f73;
}
.module-card--blue .module-icon {
  background: #e8eff3;
  color: #315f73;
}
.module-card--blue:hover .module-arrow {
  color: #315f73;
}

/* Color Rojo Institucional (Seguridad y Auditoría) */
.module-card--red {
  border-top-color: #d4112e;
}
.module-card--red .module-icon {
  background: #fdebee;
  color: #d4112e;
}
.module-card--red:hover .module-arrow {
  color: #d4112e;
}